<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # This section is implementd in conf file
    # ensure https
    RewriteCond %{HTTP:X-Forwarded-Proto} =http
    RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

    # www to non www start
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
    # www to non www end

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]

    RewriteRule \.(git|svn)(/.*)?$ - [F,NC]
</IfModule>

# Hide a specific file type
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|gitignore|gitattribute|env|env.example)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<IfModule mod_deflate.c>
    # Compress HTML, CSS, JavaScript, Text, XML and fonts
    AddOutputFilterByType DEFLATE application/javascript application/rss+xml application/vnd.ms-fontobject application/x-font application/x-font-opentype DEFLATE application/x-font-otf application/x-font-truetype application/x-font-ttf application/x-javascript application/xhtml+xml application/xml font/opentype font/otf font/ttf image/svg+xml image/x-icon text/css text/html text/javascript text/plain text/xml

    # Remove browser bugs (only needed for really old browsers)
    BrowserMatch ^Mozilla/4 gzip-only-text/html ^Mozilla/4\.0[678] no-gzip \bMSIE !no-gzip !gzip-only-text/html
    Header append Vary User-Agent
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 8 hours"

    # Images
    ExpiresByType image/jpeg "access plus 8 hours"
    ExpiresByType image/jpg "access plus 8 hours"
    ExpiresByType image/gif "access plus 8 hours"
    ExpiresByType image/png "access plus 8 hours"
    ExpiresByType image/svg "access plus 8 hours"
    ExpiresByType image/ico "access plus 8 hours"
    ExpiresByType image/webp "access plus 8 hours"
    ExpiresByType image/svg+xml "access plus 8 hours"
    ExpiresByType image/x-icon "access plus 8 hours"

    # Audio
    ExpiresByType audio/wav "access plus 1 month"
    ExpiresByType audio/mpeg "access plus 1 month"
    ExpiresByType audio/ogg "access plus 1 month"

    # Video
    ExpiresByType video/mp4 "access plus 1 month"
    ExpiresByType video/mpeg "access plus 1 month"

    # HTML, CSS, JavaScript
    ExpiresByType text/css "access plus 2 hours"
    ExpiresByType text/javascript "access plus 2 hours"
    ExpiresByType application/javascript "access plus 2 hours"
    ExpiresByType text/html "access plus 2 hours"

    # Fonts
    ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
    ExpiresByType application/x-font-ttf "access plus 1 year"
    ExpiresByType application/x-font-opentype "access plus 1 year"
    ExpiresByType application/x-font-woff "access plus 1 year"

    # Others
    ExpiresByType application/pdf "access plus 1 week"
    ExpiresByType application/x-shockwave-flash "access plus 1 week"
</IfModule>